@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h3 class="display-4">This is a simple jokes site. Feel free to navigate to the jokes section, or create your own jokes!</h3>
</div>
